html{

    font-family:'Monserrat light',sans-serif;
    margin-left: 0.93rem;
    line-height:1.7333;
}
h1{

    font-family:'Monserrat ',sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
ul{
    padding: 0;
}
.some-ul li {
    display: inline;
}
.some-ul li+li :before {
    content: '|';
  margin: 0 16px;
}
p{
    font-size: .93rem;
}
a:hover{
    color: aqua;
}